*
{
    margin: 0;
    padding: 0;
    list-style: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cuerpo
{
    padding-top: 7vh;
}

#encabezado #menu
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin: 0 auto; 
    height: 7vh;
    line-height: 7vh;
    color: rgb(190, 190, 190);
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    background: rgb(36, 36, 36);
    position: fixed;
}

#encabezado a
{
    text-decoration: none;
    color: inherit;
}

#encabezado #menu li
{
    width: 15%;
    transition: background-color 0.5s, color 0.5s;
}

#encabezado #menu li:hover
{
    background: rgb(60, 60, 60);
    color: white;
}

#encabezado .izq
{
    float: left;
}

#encabezado .dcha
{
    float: right;
}

#encabezado #menuCuenta
{
    display: none;
}

#encabezado #menuCuenta a li
{
    width: 100%;
    background: rgb(36, 36, 36);
}

#encabezado #menuCuenta li:hover
{
    background: rgb(80, 80, 80);
}

#encabezado #menu li:hover ul
{
    display: block;
}

#pie
{
    height: 30vh;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    text-align: center;
}

#pie > div
{
    width: 100%;
}

#pie #logo
{
    width: 35vh;
}

#pie .logos img
{
    width: 5vh;
    margin: 0 1vh;
    margin-bottom: 2vh;
    filter: brightness(0.6);
    transition: filter 0.5s;
}

#pie .logos img:hover
{
    filter: brightness(1);
}

#pie p
{
    color: white;
    /* margin: 0; */
    font-size: 1.5vh;
}