.selectWindow
{
    width: 100%;
    border-bottom: 1px solid black;
}

.selectWindow div
{
    width: 50%;
    height: 100%;
    float: left;
    border-bottom: 0.5vh solid black;
    text-align: center;
}

.selectWindow div h3
{
    height: 100%;
    width: 100%;
    padding: 2vh 0;
    cursor: pointer;
}

.selectWindow div:nth-child(1) h3
{
    border-right: 0.5vh solid black;
    color: indianred;
}

.selectWindow div:nth-child(2) h3
{
    border-left: 0.5vh solid black;
}

/* Pestañas */

div.window
{
    margin: 3vh auto;
    width: 60%;
}

div#es
{
    display: block;
}

div#en
{
    display: none;
}

label
{
    width: 100%;
    height: 3vh;
    display: block;
    font-size: 2vh;
    font-weight: bold;
    margin-top: 2vh;
}

input, select
{
    width: 100%;
    height: 2vh;
    font-size: 1.8vh;
    margin-bottom: 1vh;
}

input[type=file]
{
    height: 3.5vh;
    margin-bottom: 2vh;
    width: 50%;
}

input[type=submit]
{
    width: 30%;
    height: 3vh;
    float: right;
}

div.window select
{
    width: 30%;
}

div#noCambia
{
    width: 60%;
    border-top: 0.5vh solid black;
    margin: 0 auto;
}
