#centro div.apartado
{
    width: 90%;
    margin: 5vh auto;   
    border-bottom: 0.7vh solid rgb(36, 36, 36);
    display: flex;
    align-items: center;
}

#centro div.apartado h2
{
    margin-bottom: 3vh;
}

#centro div.apartado p
{
    width: 100%;
    text-align: justify;
}

#centro .apartado:nth-child(odd) div:nth-child(1)
{
    width: 70%;
    margin-right: 10%;
    padding-bottom: 5vh;
}

#centro .apartado:nth-child(odd) div:nth-child(2)
{
    width: 20%;
}

#centro .apartado:nth-child(even) div:nth-child(1)
{
    width: 20%;
}

#centro .apartado:nth-child(even) div:nth-child(2)
{
    width: 70%;
    margin-left: 10%;
    padding-bottom: 5vh;
}

#centro div.apartado img
{
    width: 100%;
}

