form > div label
{
    display: block;
    width: 100%;
}

form > div input:not([type=submit]):not([type=file])
{
    width: 100%;
    height: 2.5vh;
    margin-bottom: 3vh;
    font-size: 2vh;
}

form > div input[type=submit]
{
    width: 100%;
    height: 3vh;
    font-size: 2vh;
}

form > div p
{
    font-size: 2vh;
    margin-bottom: 2vh;
    color: red;
}

form > #divPfp
{
  float: left;
  padding: 2vh 0vh;
  width: 40%;
  height: 100%;
}

form > #divPfp > #imgPfp
{
  margin: 0vh;
  width: 30vh;
  height: 30vh;
  padding: 0 15%;
}

form > #divPfp > #pfp
{
  width: 100%;
  height: 30%;
  font-size: 2vh;
}

form > #divText
{
  float: right;
  padding: 10vh 0vh;
  width: 60%;
  height: 100%;
  margin: auto;
}

form > #divText *
{
  width: 80%;
}
