
@media (min-width: 900px)
{
    #menuPreguntas a li:after
    {
        content: " preguntas";
    }
}

@media (max-width: 900px)
{
    #portada h1
    {
        font-size: 6.5vh;
    }

    #cuerpo #centro .apartado .paraImagen
    {
        display: none;
    }
    
    #cuerpo #centro .apartado :not(.paraImagen)
    {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
    
    select#categoriaen, select#categoriaes
    {
        width: 100%;
    }

    div#noCambia input
    {
        width: 100%;
    }
}

@media (max-width: 750px)
{
    #portada h1
    {
        font-size: 5vh;
    }

    #encabezado #menu li
    {
        width: 25%;
        font-size: 1.75vh;
    }    
}

  